.nav {
    background-color: white;
    padding: 20px;
    margin-left: 50%;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
  
li {
    display: inline;
    padding: 30px;
}

#mySelfie {
    width: 25%;
    margin-left: 100px;
    margin-top: 10px;
    float: left;
    border-radius: 8px;
}
.container {
    position: relative;
    left: 30px;
    top: 100px;
}

/*change this color whenever*/
a {
    color: black;
    cursor: crosshair;
}
a:hover {
    opacity: 0.5;
}
a:active {
    font-style: bold;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.87);
    display: inline;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    z-index: 2;
}
#social {
    position: relative;
    left: 8%;
}
#copyright {
    position: relative;
    left: 42%;
}
#title-block h2 {
    font-family: 'Playfair Display', serif;
}
#title-block h4 {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left: 5%;
    font-weight: 500;
}
#intro {
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: 12%;
}

.about-container {
    width: 70%;
    margin: 0 auto;
}
.about-container h2{
    margin-top: 80px;
    font-family: 'Playfair Display', serif;
}
.about-container p {
    font-family: 'Raleway', sans-serif;
}

.contact-container {
    width: 70%;
    margin: 0 auto;
}
.contact-container h2 {
    font-family: 'Playfair Display', serif;
}
.contact-container label {
    background-color: white;
}
#textforms {
    margin-top: -20px;
}

button {
    z-index: 1;
}
#submit-text {
    color: black;
    font-family: 'Raleway', sans-serif;
}
i.fa-paper-plane {
    color: black;
}
textarea {
    height: 100px;
}
#signature {
    position: relative;
    top: 120px;
    right: 80px;
}

.portfolio-container {
    width: 58%;
    margin: 0 auto;
    z-index: 3;
    margin-top: -160px;
}
.portfolio-container h2 {
    font-family: 'Playfair Display', serif;
    transform: rotate(270deg);
    transform-origin: left top 0;
    position: relative;
    font-size: 90px;
    top: 530px;
    right: 230px;
}

* {box-sizing:border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: crosshair;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(177, 190, 219);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 720px;
  bottom: 200px;
}
.prev {
    right: 75px;
    bottom: 200px;
}

/* On hover, add a transparent black background*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  color: black;
  font-size: 24px;
  padding: 8px 12px;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

/* circular indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  bottom: 40px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}